---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { t } from '../../i18n';

const i18n = t('fr');
---

<BaseLayout title={`${i18n.services.aiGovernance.name} - ${i18n.site.title}`}>
  <h1>{i18n.services.aiGovernance.name}</h1>
  <p>{i18n.services.aiGovernance.tagline}</p>
</BaseLayout>
