---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { t } from '../../i18n';

const i18n = t('en');
---

<BaseLayout title={`${i18n.footer.legal} - ${i18n.site.title}`}>
  <h1>{i18n.footer.legal}</h1>
  <p>Legal page - content coming soon.</p>
</BaseLayout>
