---
// List
// ------------
// Description: the list component is a ui element that displays a list of items in a vertical order.
// Properties:
// - Type: the type of the list (basic, checklist)
// - ListItems: the list items of the list
// - classes: additional classes
// - listColor: the color of the marker (primary, neutral, white)

// Components
// - UI
import { Icon } from 'astro-icon/components'

// Props
type Props = {
	type?: 'basic' | 'checklist'
	listItems: Array<any>
	classes?: string
	listColor?: 'primary' | 'neutral' | 'white'
}
const { type = 'basic', listColor = 'primary', listItems, classes } = Astro.props
---

<ul
	class:list={[
		'list',
		{ ['list--' + `${type}`]: type },
		{ ['list--' + `${listColor}`]: listColor },
		{ [`${classes}`]: classes }
	]}
>
	{
		listItems.map((item) => (
			<li>
				{type === 'checklist' && <Icon name="check-circle" />} {item.listItem}
			</li>
		))
	}
</ul>

<style>
	.list li {
		margin-bottom: 0.5rem;
		margin-left: 1rem;
		list-style-type: disc;
		color: var(--color-neutral-700);
	}
	.list--checklist li {
		display: flex;
		align-items: flex-start;
		gap: 0.5rem;
		list-style-type: none;
		margin-left: 0;
	}
	.list--checklist svg {
		height: 1.5rem;
		width: 1.5rem;
		flex-shrink: 0;
		padding: 0.25rem;
		color: var(--color-secondary-500);
	}
	.list--primary li::marker {
		color: var(--color-secondary-500);
	}
	.list--white svg,
	.list--white li::marker {
		color: white;
	}
	.list--neutral svg,
	.list--neutral li::marker {
		color: var(--color-neutral-500);
	}
</style>
