---
// Row
// ------------
// Description: a foundational component representing a row of content within section. The row component is using a 12 column layout grid and can contain any number of columns.
// Properties:
// - Flex: whether the row is flex or not (default is grid)
// - Mode:  use that to overide the light/dark mode for a specific row. Usefull if you have a row that might contain a dark background
// - classes: additional classes

// Props
type Props = {
	flex?: boolean
	classes?: string
	mode?: string
}
const { flex, mode, classes } = Astro.props
---

<div
	class:list={['row', { 'row--flex': flex }, { [`${classes}`]: classes }, { [`${mode}`]: mode }]}
>
	<slot />
</div>

<style>
	@reference "../../styles/global.css";
	.row {
		@apply grid grid-cols-4 gap-6;
	}
	@media (min-width: 768px) {
		.row {
			grid-template-columns: repeat(8, minmax(0, 1fr));
		}
	}
	@media (min-width: 1024px) {
		.row {
			grid-template-columns: repeat(12, minmax(0, 1fr));
		}
	}
	.row--flex {
		@apply flex w-full flex-col flex-wrap items-center justify-center;
	}
	@media (min-width: 1024px) {
		.row--flex {
			flex-direction: row;
		}
	}
</style>
